:root{
    --background-color: #000f0b;
    /* --primary-color: #FFC6AC;
    --secondary-color: #ace5ff; 
    original colors*/
    --primary-color: rgb(241, 252, 162);
    --secondary-color: #d3f1ff;

    --primary-font-color: rgb(241, 252, 162);
    --secondary-font-color:#000f0b;
    --primary-halfopacity:rgba(0, 15, 11, 0.5);
    --seondary-halfopacity:rgba(172,229,255,0.5);
    
    --font-size-default:1em;

}
@font-face {
    font-family: 'garamond';
    src: url('../src/assets//fonts/CormorantGaramond-Regular.ttf');
}
*{
    margin:0;
    padding: 0;
}
.app{

    color:var(--primary-font-color);
    box-sizing: border-box;
    font-family: 'garamond', sans-serif;
}

img,picture{
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
}
h1{
    font-size: calc(2*var(--font-size-default));
}
h2{
    font-size:calc((3/2)*var(--font-size-default));
}
h3{
    font-size:var(--font-size-default);
}
h4{
    font-size:calc((3/4)*var(--font-size-default));
}