:root{
    --primary-color: #000f0b;
    --primary-halfopacity:rgba(0, 15, 11, 0.5);
    
    --background-color: rgb(241, 252, 162);
    --background-halfopacity: rgb(241, 252, 162, 0.5);

    --color-a:rgb(241, 252, 162);
    --color-b: #000f0b;

    --font-size-default:1em;

}
@font-face {
    font-family: 'garamond';
    src: url('../src/assets//fonts/CormorantGaramond-Regular.ttf');
}
*{
    margin:0;
    padding: 0;
    font-family: inherit;
    color:inherit;
    box-sizing: border-box;
}
button{
    border: 0px;
    background-color: transparent;
}
.app{

    color:var(--primary-font-color);
    box-sizing: border-box;
    font-family: 'garamond', sans-serif;
}

ul {
    list-style: none;
}