:root{
    --background-color:#FFF6DC;
    --primary-color: #FFC6AC;
    --secondary-color: #ace5ff;
    --font-color: #9E9FA5;

    --primary-halfopacity:rgba(255,198,172,0.5);
    --seondary-halfopacity:rgba(172,229,255,0.5)
}
*{
    margin:0;
    padding: 0;
    color:inherit;
    box-sizing: border-box;
}

img,picture{
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
}